@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.Grotesque-font{
  font-family: "Darker Grotesque", sans-serif;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

 

/* .swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: #0062ffb6;
  padding: 20px;
  border-radius: 50%;
  transform: translateY(100%) !important;
}
.swiper-button-prev::after {
  color: #fff;
  font-size: 20px !important;
}
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: #0062ffb6;
  padding: 20px;
  border-radius: 50%;
  transform: translateY(-0px) !important;
}
.swiper-button-next::after {
  color: #fff;
  font-size: 20px !important;
} */

.swiper-pagination-bullet {
  background: #eeffde79 !important;
  transition: 0.5s !important;
}
.swiper-pagination-bullet-active {
  @apply !bg-lime-500 !w-[50px] !rounded-xl
}